.header_ {
    padding: 5px 0;
    background-color: rgba(247, 247, 247, 0.80);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.40);
}

.header_1-logo {
    width: 180px;
    height: 90px;
    margin: auto;
}

.nav_ul {
    align-items: center;
    justify-content: center;
    padding: 5px 0 10px 0;
}

.nav_li {
    padding: 0px 15px;
    font-family: $font_bold;

    &:last-child {
        padding-right: 0px;
    }

    a {
        color: #121111;
        font-size: 20px;
        font-weight: 500;
        text-transform: capitalize;

        i {
            color: #121111;
            font-size: 12px;
            margin-left: 10px;
            vertical-align: top;
            display: inline-block;
            margin-top: 4px;
        }
    }
}

.lang_box_parent {
    padding: 0px 15px;
    font-family: $font_bold;
    color: #121111;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
    cursor: pointer;

    i {
        color: #121111;
        font-size: 12px;
        margin-left: 10px;
        vertical-align: top;
        display: inline-block;
        margin-top: 4px;
    }
}

.dropdown_menu {
    position: absolute;
    top: 165px;
    background: #ffff;
    padding: 20px;
    left: 31%;
    transform: translate(-35%, -0%);
    width: 450px;
    text-align: center;
    display: none;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.40);
    transition: all .4s linear;
}

.fixed_current_menu .dropdown_menu {
    top: 85px;
    left: 35%;
}

.dropdown_ul {
    &::after {
        content: '';
        left: 195px;
        top: -30px;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        z-index: 12;
        border-width: 0px 10px 10px 10px;
        border-color: transparent transparent #ffffff transparent;
    }
}

.dropdown_li {
    font-family: $font_regular;
    color: #121111;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
}

.dropdown_lang {
    position: absolute;
    bottom: -155px;
    background: #fff;
    width: 70%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.lang_box {
    position: relative;
    padding-top: 12px;

    li {
        font-family: $font_regular;
        font-size: 20px;
        text-transform: capitalize;
        margin-bottom: 12px;
    }

    &::after {
        content: '';
        left: 30px;
        top: -20px;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        z-index: 12;
        border-width: 0px 10px 10px 10px;
        border-color: transparent transparent #ffffff transparent;
    }
}