.header_fixed {
    padding: 5px 0;
    background: rgb(247, 247, 247);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.40);
    position: fixed;
    width: 100%;
    top: -105px;
    z-index: 999;
    transition: all .3s linear;
}

.fixed_header-logo {
    width: 180px;
    height: 90px;
}

.nav_fixed {
    align-items: center;
    justify-content: center;
    padding: 5px 0 10px 0;
}

.fixed_ul {
    margin-left: 120px;
}

.fixed_li {
    margin: 0px 15px;
    font-family: $font_bold;
    align-items: center;

    &.fix_li_active {
        border-bottom: 1px solid #0000FF;
    }

    &:last-child {
        padding-right: 0px;
    }

    a {
        color: #121111;
        font-size: 20px;
        font-weight: 500;
        text-transform: capitalize;
        display: block;
    }

    i {
        color: #121111;
        font-size: 12px;
        margin-left: 10px;
        vertical-align: top;
        display: inline-block;
    }
}