.project_sec {
    padding: 30px 0;
}

.project_main-title {
    padding-top: 50px;
    text-align: center;
    font-weight: 600;
    color: #000;
    font-family: "Roboto B";
    font-size: 42px;
    text-transform: capitalize;
}

.project_wrappers {
    padding-top: 80px;
}

.projects_box {
    margin-bottom: 60px;
}

.project_title {
    color: #000000;
    font-size: 26px;
    font-family: $font_bold;
    line-height: 1.15;
    margin-bottom: 15px;
}

.project_title2 {
    font-size: 18px;
}

.project_intro {
    color: #646464;
    font-size: 18px;
    font-family: $font_regular;
    line-height: 1.15;
    margin-bottom: 10px;
}

.read_more-btn {
    color: #ffffff;
    font-size: 14px;
    font-family: $font_bold;
    border-radius: 30px;
    background: #0080c2;
    width: 135px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
}

.send_request-btn {
    color: #ffffff;
    font-size: 14px;
    font-family: $font_bold;
    border-radius: 30px;
    background: #0080c2;
    width: 135px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
}

/*---------------------projects title section-------------*/
.project_titles-sec {
    padding: 30px 0;
}

.project_titles-list {
    padding-left: 40px;
}

.acceleration_project {
    font-family: $font_bold;
    font-size: 24px;
    color: #000000;
    margin-bottom: 15px;
}

.project_titles-list ul li {
    list-style-type: disc;
    font-size: 18px;
    font-family: $font_regular;
    color: #000000;
    line-height: 1.5;
}